/*======================== 
	23.06.13 APP CSS
==========================*/
/*레이아웃*/
.app_container_inner {padding-top:60px;}
.app_contents_wrap {padding: 2rem 16px 0;}
.app_contents_wrap.type2 {padding: 0 16px;}
.app_contents_wrap.type3 {padding:0;}

/*program resize 팝업*/
.hold_pop p {margin-top:24px; line-height:1.4;}

/*스템프 전체 완료 시 노출되는 팝업*/
.stamp_complate_pop p {font-size:20px; line-height:1.4;}

/*abstract*/
.app_version.layout_type2, .app_version.layout_type2 .inner {max-width:100%; width:100%;}
.app_version.layout_type2 .inner {padding-top:0 !important; padding:0;}
/* .pdf_list {width:calc(100% + 32px); margin-left:-16px; background-color:#eaf5ff;} */ /* 230711 AJY width, margin-left 주석처리*/
.pdf_list {background-color:#eaf5ff;}
.pdf_list li {border-bottom:1px solid #EBEBEB;}
.pdf_list a {display:block; padding:16px; font-weight:bold; color:#000066; text-align:center;}

/*scientific program*/
.app_version.app_scientific {width:100%; /*margin-left:0; margin-right:0;*/ border:none; padding-bottom:100px !important;}
.app_version.app_scientific .inner {padding-top:0 !important; margin-bottom: 0;}
.app_version.app_scientific .app_tab {width:100%; margin-left:0; max-width:1236px;}
.app_version.app_scientific .app_title_box {width:100%; /* margin-left:0; */ max-width:1236px; margin:0 auto; left:50%; transform:translateX(-50%);}
.app_scientific .app_sort_form {border-top:1.5px solid #989898;}
.app_scientific .program_detail_ul li {border-bottom:1px solid #989898;}
.app_scientific .program_detail_ul li:not(:first-child) {margin-top:0;}
.app_scientific .program_detail_ul .main, .app_scientific .program_detail_ul .detail > div {padding:8px 18px;}
.app_version.app_scientific.app_program_detail .inner {max-width:1236px;}
.app_version.app_scientific.app_program_detail .app_sort_form {width:100%; max-width:1200px; margin-left:-18px;}
/*main*/
.app_scientific .program_detail_ul .main {cursor:pointer; position:relative; padding: 8px 76px 8px 18px;}
.app_scientific .right_tag {display:inline-block; padding:4px 8px; background-color:#FF6666; color:#fff; font-size:12px; border-radius:3px; position:absolute; top:8px; right:8px;}
.app_scientific p {line-height:1;}
.app_scientific .title {font-size:16px; font-weight:900; padding-bottom:7px; line-height:1.3;}
.app_scientific .chairperson {/*font-size:15px;*/ font-size: 14px; padding-bottom:15px; line-height:1.3;}
.app_scientific .chairperson span {font:inherit;}

.app_scientific .info {display:flex; align-items:center;}
.app_scientific .info button:not(.preview_btn) {width: 17px; height: 17px; border-radius:3px; border:1px solid #F5AA02; margin-right: 6px; background:url("../img/icons/icon_star_line.svg") no-repeat center / 11px;}
/* .app_scientific .info button.on {background-image:url("../img/icons/icon_star_bg.svg");} */
.app_scientific .info button.on {background-image:url("../img/icons/icon_star_bg_wh.svg"); background-color:#F5AA02;}
.app_scientific .info button + span {margin-right:18px;}
.app_scientific .info span {margin-right:18px; padding-left: 14px; /*font-size:14px;*/ font-size: 13px; background: no-repeat center left /10px;}
.app_scientific .info .time {background-image:url("../img/icons/icon_clock_line.svg"); background-size: 13px;}
.app_scientific .info .branch {background-image:url("../img/icons/icon_branch.svg"); background-size: 10px;}
/*detail*/
.app_scientific .detail {display:none;}
.app_scientific .detail > div {background-color:#DEDDDD; border-top:1px solid #989898;}
/*.app_scientific .detail > div.detail_text {background-color:#ECECEC;}*/
.app_scientific .detail .title {font-weight:bold; font-size: 15px;}
.app_scientific .detail_text {display: none; white-space: pre-line; font-size: 12px; line-height: 1.3; color:#707070; background-color:#ECECEC; padding: 8px 18px; border-top: 1px solid #989898;}
.app_scientific .detail_text p {font-size: inherit; font-weight: bold; margin-bottom: 8px;}
.app_scientific .detail_text li {font-size: 12px; border-bottom: none;}
.app_scientific .detail_text ul + p {margin-top: 12px;} 
.app_scientific .detail_text li:not(last-child) {margin-bottom: 4px;}
.app_scientific .detail .chairperson {padding-bottom:10px; display:flex; align-items:center; flex-wrap: wrap; /* gap:2px 8px;*/}
.app_scientific .preview_btn {position:absolute; bottom:7px; right:9px; border-radius:3px; color:#fff; background:#999 url('../img/icons/icon_plus_white.svg') no-repeat left  4px center /7px; padding:4px 7px 4px 14px; font-size:11px; transition: all 0.4s;}
.app_scientific.app_program_detail .app_sort_form.app_half_ul {gap:0;}

/*App main*/
.container.app_version.main { padding-bottom: /*120*/150px !important; margin-top: 0; padding-top: 60px !important; }
.app_vsl {position:relative; max-width:1200px; margin:12px auto 30px; width:85%;}
.app_vsl .text {display:block; width:100%;}
.app_index_menu {display:block; width:100%; margin:0 auto; display:flex; flex-wrap:wrap; justify-contents:space-between;}
.app_index_menu:after {content:''; display:block; clear:both;}
.app_index_menu li {width:calc(33.33%); text-align:center;}
.app_index_menu li:nth-child(n+4) {margin-top:10px;}
.app_index_menu li img {width:150px;}
.app_index_menu li span {display:block; font-size:16px; font-weight:bold; color:#000066; text-align:center; margin-top:5px;}

/*schedule*/
.schedule_area .grade_title {position:relative;}
.schedule_area .grade_title:after {content:''; display:block; width:10px; height:6px; background:url("../img/icons/icon_arrow_up.svg") no-repeat center /cover; position:absolute; top:50%; right:8px; transform:translateY(-50%);}
.schedule_area .grade_title.on:after {transform:translateY(-50%) rotateZ(180deg);}
/* .schedule_btn_wrap {text-align: center;} */
.schedule_btn_wrap {position: relative;}
/* .schedule_btn_wrap .remove_alarm_btn { background-color: #404040; color:#fff;font-size: 24px; padding: 10px 12px; height: 48px;line-height: 1; border-radius:4px; margin-top: 12px;	} */
.schedule_btn_wrap .remove_alarm_btn {display: none; min-width:125px; height: 28px; line-height:28px; border-radius:28px; background-color:#000066; color:#fff; padding:0 24px; font-size:12px; position:absolute; top:-40px; left:50%; transform:translateX(-50%);}
.schedule_btn_wrap .remove_alarm_btn.on {display: block;}

/*App HAPPENING NOW*/
/* .app_scientific.app_happening .program_detail_ul .main, .app_scientific.app_invited_speakers_detail .program_detail_ul .main {padding:10px 18px;} */
.app_scientific.app_happening .program_detail_ul .main, .app_scientific.app_invited_speakers_detail .program_detail_ul .main {padding:10px 39px 10px 18px;}
.app_scientific .program_detail_ul .main .detail_btn {display:inline-block; width:29px; height:43px; background:url("../img/icons/icon_arrow_next_gray3.svg") no-repeat center / 13px 20px; position:absolute; right:10px; top:50%; transform: translateY(-50%);}
.app_scientific.app_happening .program_detail_ul .main .detail_btn {display:inline-block; width:26px; height:45px; background:url("../img/icons/icon_arrow_next_gray4.svg") no-repeat center / 13px 24px; position:absolute; right:12px; top:50%; transform: translateY(-50%);}
.app_happening .no_data p {font-size:43px; color:#999; line-height: 46px;}
.app_happening .no_data img {max-width:130px; margin-bottom:18px;}

/*APP Overview*/
.app_version.app_overview {padding-bottom: 60px !important;}
.app_overview_ul li {border-top:1px solid #383484;}
.app_overview_ul li:last-child {border-bottom:1px solid #999999;}
.app_overview_ul li > p {padding:10px 16px; background-color:#EDEDED; font-size:15px; font-weight:bold; color:#000000; border-bottom:1px solid #999999;}
.app_overview_ul li > div {padding:16px; font-size:14px; line-height:1.3; color:#000000;}
.app_overview_ul li > div * {font-size:inherit; color:inherit;}
.app_overview_ul li > div b {font-size:16px; display:block;}
.app_overview_ul li > div .small_txt {font-size:12px;}

/*APP Survey*/
.survey_box {border-radius:18px; max-width:290px; margin:0 auto;}
.survey_box:not(:first-child) {margin-top:14px;}
.survey_box.box_top {background-color:#60328D;}
.survey_box.box_bottom {background-color:#2B6464;}
.survey_box > a {padding:20px; display:flex; flex-direction:column; align-items:center; justify-content:center;}
.survey_box img {width:52px;}
.survey_box p {margin:14px 18px; color:#FFFFFF; font-size:18px; line-height:1.4;}
.survey_box p .bold {font-size:21px; color:#FFFFFF;}
.survey_box .lang {height:31px; padding:0 24px; border-radius:99px; border:1px solid #FFFFFF; color:#FFFFFF; font-size:19px; line-height:29px;}

/*Main Last Breaking popup*/
.last_breaking_pop .pop_bg {background:transparent;}
.last_breaking_pop .pop_contents {max-width:450px; padding:0; top: 150px; left: 24px; transform: none; width: calc(100% - 48px);}
.last_breaking_pop img {max-width:100%;}
.last_breaking_pop .pop_bottoms {padding:12px 20px; text-align:right;}
.last_breaking_pop .pop_close {position:initial; width:auto; height:auto;}
.last_breaking_pop .pop_close:after {content:"X"; display:inline-block; width:16px; height:16px; box-sizing:border-box; border-radius:4px; border:1px solid #999999; color:#999999; font-size:13px; line-height:14px; margin-left:6px;}

@media screen and (max-width: 1200px) {
	/*Main Last Breaking popup*/
	.last_breaking_pop .pop_contents {top:100px;}
}

@media screen and (max-width: 1024px) {
	/*app_program_detail*/
	.app_scientific.app_program_detail .app_sort_form.app_half_ul {width: 100%; margin-left:0;}
}

@media screen and (max-width: 768px) {
	.app_index_menu li img {width:100px;}
	.app_index_menu li span {font-size:14px;}
}

@media screen and (max-width: 480px) {
	.app_index_menu li img {width:80px;}
	.app_index_menu li span {font-size:12px;}
	.last_breaking_pop .pop_contents .pop_bottoms {padding: 8px 12px;}
	.last_breaking_pop .pop_contents .pop_close {font-size: 12px;}
}